<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" content->
    <!--載入css-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/9f6125b92b.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <!-- navigation -->
        <nav class="navbar navbar-light bg-light">
            <!--<div class="container">-->
            <a class="navbar-brand" href="/">
                <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
                    width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
                我的餐廳清單
            </a>
            <!--修正點擊 ADD NEW RESTAURANT 時，要點文字才能新增餐廳，點文字外的按鈕區域範圍內，會跳 not found-->
            <a class="btn btn-major mx-2" href="./restaurants/new" style="color:white;">CREATE
            </a>
            <!--</div>-->
        </nav>

        <div class="banner"></div>
    </header>
    <!-- partial templates will replace the part of "body" here -->
    {{{ body }}}
    <!--載入javascripts，popper要在bootstrap上面因為會用到-->
    <script type="text/javascript" src="/javascripts/popper.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>

</body>

</html>