<div class="container mt-5 d-grid gap-2 col-6 mx-auto">

    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="abc@example.com">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="password">
        </div>
        <div class="mb-3 ">
            <button type="submit" class="btn btn-primary mt-3 btn-block ">Login</button>

        </div>

    </form>
    <div class="d-flex align-items-center">
        <h5>No Account yet? </h5><a href="/users/register">
            <h5 class="mx-3">Register Now!</h5>
        </a>
    </div>

    


</div>